/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.titled-pane > .content > * {
    -fx-padding: 4px;
}

.no-padding-content > .content > * {
    -fx-padding: 0px;
}

.monospace-font {
    -fx-font: 11 monospace;
}

.custom-box-border {
    -fx-background-color: -fx-box-border,-fx-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1.0;
}

.custom-box-border:focused {
    -fx-background-color: -fx-focus-color, -fx-box-border, -fx-background;
    -fx-background-insets: -1.4, 0, 1;
}


/* if the .row-title-column is selected show the highlighting */
.row-title-column.table-cell:selected {
    -fx-background-color: derive(-fx-accent,40%), -fx-background;
}

/* the column with the .row-title-column class to look like the table header*/
.row-title-column.table-cell {
    -fx-font-weight: bold;
    -fx-background-color: -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1; 
}



/*

.scroll-pane > * > .scroll-bar:horizontal {
    -fx-background-insets: 0, 1 0 0 0;
    -fx-padding: 0.0 0.0 0.0 0.0;
}

.scroll-pane > * > .scroll-bar:vertical {
    -fx-background-insets: 0, 0 0 0 1;
    -fx-padding: 0.0 0.0 0.0 0.0;
}

.scroll-pane > .corner {
    -fx-background-color: -fx-box-border, -fx-base;
    -fx-background-insets: 0, 1 0 0 1;
}

.scroll-pane:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

 */
 
/* Customization of Main Tabs */

.tab-pane.main-tabs  {
    -fx-tab-min-width: 100px;
    -fx-tab-min-height: 28px;
}

.tab-pane.main-tabs.with-icons  {
    -fx-tab-min-width: 115px;
    -fx-tab-min-height: 28px;
}

.tab.main-tabs {
    -fx-background-insets: 0 0 0 1,0,0;
}

.tab-pane.main-tabs > .tab-header-area .tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-font-size: 12.5px;
    -fx-padding: 0 8 0 8;   
}

.tab-pane.main-tabs > .tab-header-area .tab:selected .tab-label { 
    -fx-font-weight: bold; 
}

.tab-pane:top.main-tabs > .tab-header-area {
    -fx-background-insets: 0 5,5,5 20 0;
    -fx-padding: 0 2 0 33;
}

/* hides the transversing focus (blue frame) */
.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
 	-fx-border-width: 0;
	-fx-border-insets: 0 0 0 0;
	-fx-border-radius: 0;
}